elvira.tmp.dir /usr/local/scratch/VIRAL/temp/

default.fundingSource GCID

ace.root.dir /usr/local/projdata/700010/projects/VHTNGS/sample_data_new
barcode.root.dir /usr/local/projdata/700010/projects/VHTNGS/barcode_data/
default.consed.dir consed_with_sanger

autoTasker  /usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/autoTasker2
vigor_exe	/usr/local/devel/VIRIFX/software/VIGOR3/prod3/VIGOR3.pl

createScaffoldCoverageMap.exe.path /usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/createScaffoldCoverageMaps
createClosureAnnotationSpreadsheet.exe.path /usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/createClosureAnnotationTransferSpreadsheet
iterativeCreateBetterReference.exe.path /usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/iterativeCreateBetterReference

fastq.deconvolve.worker.exe.path /usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/workers/deconvolveSingleFastq

detect_abacus_worker	/usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/workers/detectAbacusErrorsInAce
re_abacus_worker		/usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/workers/reAbacusAceContig
muscle					/usr/local/bin/muscle
blast					/usr/local/bin/blastall
mafft					/usr/local/bin/mafft

rtv.type.blastDb		rtv/rotaC_db_v15.1_VIGOR_CALLED_ORFS_ONLY/RotaC_ReferenceDb_v15.1_14_NOV_2013.fixed.2.VIGOR_ORF_ONLY.fasta
rtv.type.refOrfFastaPath		rtv/rotaC_db_v15.1_VIGOR_CALLED_ORFS_ONLY/ref.orfOnly.fasta

rtv.type.blastDb.prefix			RotaC_ReferenceDB_v15.1_14_NOV_2013.fixed

flu.master.LR_amplicon.path	/usr/local/projdata/700010/projects/GIV/Influenza Project/Primers/Flu_LR_amplicon_primers_template.xls

fluB.lineage.blastDb	fluB/lineage/HA_full_length_NT_complete.fa
fluB.lineage.map	fluB/lineage/HA_gi_to_lineage_map.txt

flu.pdmVsSeas.blastDb	h1n1SeasVsPdm/all_consensi.fasta

reversegeocode.placenames.path /geonames/cities1000.zip
reversegeocode.countryCodeMap.path /geonames/edited-wikipedia-iso-country-codes.csv

viralCas2ConsedPipelineExe	/usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/viralCas2ConsedPipeline

multiThreadedAceIndelDetector	/usr/local/devel/VIRIFX/software/Deployment/elvira-1.5-563ce19b-20190313-1040/bin/multiThreadedDetectIndelsInAce

nextGenTrimmerTempDir	/usr/local/scratch/VIRAL/temp/ViralCas2ConsedPipeline2
mail.smtp.host	mailrelay.jcvi.org


#need to set user name and password (real values not committed to svn)
projectdb.default.user access
projectdb.default.pass access

lims.default.user datasupt
lims.default.pass forscripts 


glk.serviceAccount.user	emailauth
glk.serviceAccount.pass	Jcv|R3L@y
#account for getting data delivery sequencing reports
glk.sequenceReport.user joeuser
glk.sequenceReport.pass joeuser
#account for full read/write/update to GLK tables
glk.admin.user glk_admin
glk.admin.pass glk_admin99

#account for modifying JIRA sample tracking

jira.sampletracking.prod.url	http://sampletracking.jcvi.org
jira.sampletracking.prod.user	sampletracking
jira.sampletracking.prod.pass	a2c4e6g8

jira.sampletracking.dev.url		http://sampletracking-dev.jcvi.org:8380
jira.sampletracking.dev.user	sampletracking
jira.sampletracking.dev.pass	a2c4e6g8


ometa.serviceAccount.user ometasrv
ometa.serviceAccount.pass 0m3te!23  

sispa.barcode.path /usr/local/devel/VIRIFX/software/SISPA_Primers/SISPA_Primers_Plates_I_II_III.xls

vhtngs.trace.fileserver.path /usr/local/archdata/700010/projects/VHTNGS/Old_Sanger_Traces/AllTraces.index

preferred.queue fast
gridReAbacusAce.queue himem
